<footer>
  <p>This project is maintained by <a href="https://github.com/lbain">Lucy</a>, <a href="https://github.com/puyo">Greg</a>, <a href="https://github.com/joshuapaling">Joss</a>, <a href="https://github.com/tjmcewan">Tim</a> and <a href="https://github.com/elle">Elle</a></p>
  <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    <p><small>Built with <a href="http://middlemanapp.com/">middleman</a></small></p>
</footer>