<header>
  <h1>Rails Girls Next</h1>
  <p>February 19, 2014</p>
  <a href="/"><img src="images/rails-girls-heart.png" class="logo"/></a>

  <h3>Exercises</h3>

  <ul>
    <li><a href="/tdd">Test Driven Development</a></li>
    <li><a href="/ruby">Coding with Ruby</a></li>
    <li><a href="http://tjmcewan.github.io/coffeecalc/docs/tutorial.ruby.html">Fun with Sinatra</a></li>
  </ul>

  <h3>Tips and Tricks</h3>

  <ul>
    <li><a href="/git">Git</a></li>
    <li><a href="http://lucybain.com/resources/setting-up-sublime-autosave/">Sublime autosave</a></li>
  </ul>
</header>